* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: sans-serif;
  background-color: #bdbdbd;
  padding: 15px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
  color: yellow;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background-color: grey;
}
