* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding: 40px;
  max-width: 90%;
  width: 1000px;
  margin: auto;
  position: relative;
}

.quote {
  text-align: center;
  font-size: 3rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.author {
  position: absolute;
  text-align: right;
  font-size: 1.2rem;
  right: 25%;
  font-family: 'Yellowtail', cursive;
}
